<tr class="job" id="job_<%= job.id %>">
	<td class="location"><%= h(job.location.name) %></td>
	<td class="title"><%= link_to h(job.title), job %></td>
	<td class="company_name">at <%= h(job.company_name) %></td>
	<td class="created_at"><%= time_ago_in_words(job.created_at) %> ago</td>
</tr>