<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>RubyJobs</title>
	  <%= stylesheet_link_tag 'main' %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><%= link_to 'RubyJobs', :root %></h1>
				<p>
					<% if logged_in? %>
						Hi <%= current_user.login %> <%= link_to 'logout', :logout %>
					<% else %>
						<%= link_to 'login', :login %> / <%= link_to 'signup', :signup %>
					<% end %>
				</p>
			</div>
			<div id="navigation">
				<ul>
					<li><%= link_to 'Home', :root %></li>
				</ul>
			</div>
			<div id="content">
				<% for flash_key in flash.keys %>
					<p class="flash flash_<%= flash_key %>"><%= flash[flash_key] %></p>
				<% end %>
				
				<%= yield  %>
			</div>
			<div id="footer">
				this is the footer
			</div>
		</div>
	</body>
</html>
